<footer class="text-center bg-body-secondary mt-5 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>123 Food Street, Gourmet City</p>
                <p>Email: info"&#64;"restaurant.com</p>
                <p>Phone: (123) 456-7890</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-black">Home</a></li>
                    <li><a href="#" class="text-black">Menu</a></li>
                    <li><a href="#" class="text-black">Reservations</a></li>
                    <li><a href="#" class="text-black">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="#" class="text-black me-3">Facebook</a>
                <a href="#" class="text-black me-3">Instagram</a>
                <a href="#" class="text-black">Twitter</a>
            </div>
        </div>
        <div class="mt-4">
            <p>&copy; 2024 Restaurant Name. All rights reserved.</p>
        </div>
    </div>
</footer>