*{
    font-family: monospace;
}
input {
    width: 180px;
    padding: 10px 5px;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 10px;
}

button {
    cursor: pointer;
    background-color: rgb(12, 59, 62);
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}